# ── Choose your AI provider ──────────────────────────

# mock(fake) || gemini(paid) || openai(paid) || groq(free) || nvidia(free)
AI_PROVIDER=groq

# nvidia
NVIDIA_API_KEY=nvidia_api_key
NVIDIA_MODEL=z-ai/glm5

# Groq
GROQ_API_KEY=groq_api_key
GROQ_MODEL=meta-llama/llama-4-scout-17b-16e-instruct

# Gemini
GEMINI_API_KEY=gemini_api_key

# OpenAI
OPENAI_API_KEY=openai_api_key
